#!/usr/bin/env bash

brew update

brew upgrade

brew tap koekeishiya/formulae
brew tap homebrew/cask-fonts

{{ $brews := list 
    "asdf"
    "atuin"
    "awscli"
    "bat"
    "btop"
    "corepack"
    "coreutils"
    "docker"
    "docker-completion"
    "docker-compose"
    "findutils"
    "gnu-tar"
    "gnupg"
    "go"
    "grep"
    "jq"
    "koekeishiya/formulae/skhd"
    "koekeishiya/formulae/yabai"
    "neovim"
    "openssh"
    "prettyping"
    "screen"
    "switchaudio-osx"
    "tldr"
    "tmux"
    "yq"
    "zoxide"
}}

{{ $casks := list 
    "1password"
    "1password-cli"
    "arc"
    "claude"
    "claude-code"
    "cursor"
    "dbeaver-community"
    "discord"
    "firefox"
    "flux"
    "font-fira-code"
    "font-fira-code-nerd-font"
    "google-chrome"
    "karabiner-elements"
    "leader-key"
    "logi-options+"
    "moonlight"
    "obsidian"
    "postman"
    "raycast"
    "slack"
    "spotify"
    "tailscale"
    "viber"
    "visual-studio-code"
    "vlc"
    "wezterm"
    "zed"
    "zoom"
}}
    
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

brew cleanup
