export OPENAI_API_KEY={{ .openAiKey | quote }}
export ANTHROPIC_API_KEY={{ .anthropicApiKey | quote }}
export ANTHROPIC_WORK_API_KEY={{ .anthropicWorkApiKey | quote }}
export GEMINI_API_KEY={{ .geminiApiKey | quote }}
