.oh-my-zsh/cache/**

{{ if not .isArch }}
.chezmoiscripts/arch/**
.zshrc.d/arch/**
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.yabairc
.skhdrc
.bin/yb-*

.chezmoiscripts/darwin/**
.zshrc.d/darwin/**

{{ end }}
