Host monkey
	User code
	IdentityFile ~/.ssh/monkey
	HostName monkey.{{ .tsDns }}

Host pi
	User admin
	IdentityFile ~/.ssh/monkey
	HostName pipipi.{{ .tsDns }}
    
Host 0x
	User gmenih
	HostName 0x676d.{{ .tsDns }}

Host github.com
	User git
	IdentityFile ~/.ssh/github
	HostName github.com

