{{ if .isMac }}
Include ~/.orbstack/ssh/config
{{ end}}
Include ~/.ssh/work_config

Host github.com
    User git
    IdentityFile ~/.ssh/github
    HostName github.com

Host raid
    User root
    IdentityFile ~/.ssh/monkey
    HostName 192.168.12.40


{{ if .isMac }}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}
