#! /bin/bash

# Install Yay if not present in path
{{- if not (lookPath "yay") -}}
sudo pacman -S --needed git base-devel
git clone https://aur.archlinux.org/yay.git /tmp/yay
cd /tmp/yay
makepkg -si
{{- end -}}


{{ $packages := list
     "1password-cli"
     "base-devel"
     "openvpn" 
     "openssh"
     "google-chrome"
     "lsof"
     "git"
     "go"
     "jq"
     "yq"
     "bind-tools"
     "go-task"
     "exa"
     "the_silver_searcher"
     "zsh"
     "docker"
     "tmux"
     "less"
     "unzip"
     "docker-compose"
     "neovim" -}}
     

# Install packages
yay -S {{ range $packages }} {{ . }}{{ end }} --noconfirm
