[user]
    email = gregor@menih.si
    name = Gregor Menih

    signingkey =  A492C581D986542B5EA819EDBC3CB206B8FE98CD
[core]
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[pull]
    ff = only
[commit]
    gpgsign = true
[gpg]
    program = gpg

