[user]
    email = gregor@menih.si
    name = Gregor Menih

    signingkey = 6209BD7AFF141B86A2FC73EB533768AD4B1E36AE
[core]
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[pull]
    ff = only
[commit]
    gpgsign = true
[gpg]
    program = gpg

