source ~/.private_vars

alias ll='ls -l'
alias ktl='kubectl --context="${DEV_KUBERNETES_CONTEXT}" -n="${DEV_KUBERNETES_NAMESPACE}"'
alias ktlprod='kubectl --context="${PROD_KUBERNETES_CONTEXT}" -n="${PROD_KUBERNETES_NAMESPACE}"'
alias dockill='docker kill "$(docker container ls -q)"'
alias gstatus='git status'
alias bs='brew search'
alias bi='brew install'
alias bci='brew cask install'
alias zsr='source ${HOME}/.zshrc'
alias cat='bat'
alias ping='prettyping --nolegend'

alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

alias l="ls -lF ${colorflag}"

alias la="ls -laF ${colorflag}"

alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
